<table [ngClass]="{ border: showTableBorders }" [style.width.px]="tableWidth">
  <thead>
    <tr>
      <th
        *ngFor="let column of displayedColumns; let i = index"
        class="pointer"
        [ngStyle]="{ width: column.width, padding: column.padding }"
      >
        <span
          *ngIf="isDeletePopupDisplayed[i]"
          class="fa fa-times remove"
          (click)="removecolumn(i)"
        ></span>
        {{ column.columnName | uppercase }}
        <i
          class="fa fa-trash trash-icon"
          aria-hidden="true"
          (click)="deleteToggle(i)"
        ></i>
        <i
          class="fa fa-filter filter-icon"
          aria-hidden="true"
          (click)="filterToggle(i)"
        ></i>
        <div class="filter-menu" *ngIf="isFilterPopupDisplayed[i]">
          <li *ngFor="let filter of filters">
            <span>{{ filter }}</span>
            <div *ngIf="filter == 'equality'" class="controls">
              <input
                class="radio"
                type="radio"
                name="{{ filter }}"
                value="true"
                (change) = "applyFilters['equality']=true"
              />
              <label class="radio" for="true">True</label>
              <input
                class="radio"
                type="radio"
                name="{{ filter }}"
                value="false"
                (change) = "applyFilters['equality']=false"
              />
              <label class="radio" for="false">False</label>
            </div>
            <div *ngIf="filter != 'equality'" class="controls">
              <input
                class="radio"
                type="number"
                placeholder="from"
                name="{{ filter }}"
                [(ngModel)]="applyFilters.range.from"
              />
              <input
                class="radio"
                type="number"
                placeholder="to"
                name="{{ filter }}"
                [(ngModel)]="applyFilters.range.to"
              />
            </div>
          </li>
          <li><button type="button" (click)="applyFilter(column)">Filter!</button></li>
        </div>
        <i class="fa fa-sort sort-icon" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let dataRow of receivedTableData
          | paginate
            : {
                id: 'listing-pagination',
                itemsPerPage: paginationSize,
                currentPage: page,
                totalItems: totalRec
              };
        let i = index
      "
    >
      <td *ngFor="let column of displayedColumns; let columnNumber = index">
        <input
          *ngIf="column.dataType != 'checkbox' && column.dataType != 'currency'"
          type="{{ column.dataType }}"
          id="fname"
          name="{{ dataRow[column.columnName] }}"
          [(ngModel)]="dataRow[column.columnName]"
        />
        <input
          *ngIf="column.dataType == 'currency'"
          type="text"
          id="fname"
          name="{{ dataRow[column.columnName] }}"
          [ngModel]="dataRow[column.columnName] | currency"
          (ngModel)="dataRow[column.columnName] = $event"
        />
        <label *ngIf="column.dataType == 'checkbox'" class="checkbox path">
          <input
            type="checkbox"
            name="{{ dataRow[column.columnName] }}"
            [(ngModel)]="dataRow[column.columnName]"
          />
          <svg viewBox="0 0 21 21">
            <path
              d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186"
            ></path>
          </svg>
        </label>
      </td>
    </tr>
  </tbody>
</table>
<div class="table-footer">
  <p>item per page</p>
  <div class="dropdown">
    <select
      class="dropdown-select"
      (change)="changePaginationSize($event.target.value)"
    >
      <option
        *ngFor="let pageSize of paginationSizeArray"
        [value]="pageSize"
        [selected]="paginationSize == pageSize"
        >{{ pageSize }}</option
      >
    </select>
  </div>
  <div>
    <pagination-controls
      id="listing-pagination"
      directionLinks="true"
      (pageChange)="page = $event"
    ></pagination-controls>
  </div>
</div>

<button (click)="showInConsole()">Press me</button>
