@import 'variables';
@import 'mixins';

.container{
    width: 100vw;
    height: 100vh;
    display: flex;

    .message{
        @include center(true,false);
        text-align: center;
        margin-top: 20px;
        p{
            font-size: $font-sm;
            color: $silver-grey;
        }

    }
    .table-component{
        @include center(true, false);
        margin-top: 10%;
    }
}



